* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh; 
  background-image: url(../images/mintbean-dome.png);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 10%;
}

.nav-menu {
  display: flex;
}

.nav-item{
  padding-right: 5px;
}

.nav-link:hover{
  color: #5EF4D6;
}

.nav-btn a {
  text-transform: capitalize;
  color: #221727 ;
}

.nav-btn a:hover {
  color: white;
}

.hamburger-icon {
  display: none;
}

/* Creates the hamburger icon */
.bar-icon {
  display: block;
  width: 20px;
  height: 2px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #5EF4D6;
}

.intro-card {
  border: solid  #5EF4D6;
  border-radius: 10px;
  background-color: rgba(34, 23, 39, 0.7);
  color: white;
  margin:10% 5%;
  padding: 5%;
}

.intro-card h1, button {
  font-family: 'Viga', sans-serif;
  text-transform: uppercase;
}

.card-content {
  line-height: 35px;
  padding: 7% 0;
  opacity: 0.7;
}

button {
  background-color: #5EF4D6;
  border-radius: 5px;
  border: none;
  padding: 5px 20px;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
}

button:hover {
  background-color: rgba(94, 244, 214, 0.8)
}


/* MEDIA QUERIES */
@media only screen and (max-width: 768px) {
  .hamburger-icon {
    display: block;
    z-index: 2;
  }
  .nav-menu {
    /* set to slide from the right */
    background-color: #4143B1;
    position: fixed;
    top: 0;
    flex-direction: column;
    width: 0;
    right: 0;
    font-size: 22px;
    z-index: 1;
    height: 100%;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  } 

  .nav-menu.active {
    width: 50%;
  }

  .nav-item {
    margin: 0 10%;
    padding: 5%;
  }

  .nav-divider {
    display: none;
  }
  
  /* Transforms the hamburger icon into an close icon (X) */
  .hamburger-icon.active .bar-icon:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }
  .hamburger-icon.active .bar-icon:nth-child(2) {
    opacity: 0;
  }
  .hamburger-icon.active .bar-icon:nth-child(3) {
    transform: translateY(-8px) rotate(315deg);
  }
  .card-button {
    width: 100%;
  }
}

@media only screen and (min-width: 769px){
  .intro-card {
    border: solid #5EF4D6;
    border-radius: 10px;
    background-color: rgba(34, 23, 39, 0.7);
    color: white;
    margin: 13% 4%;
    padding: 2%;
    width: 50%;
  }

  button {
    background-color: #5EF4D6;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
  }

  .card-content {
    line-height: 36px;
    font-size: 25px;
    padding: 3% 0;
  }

  .navbar {
    font-size: 25px;
  }

  .nav-menu {
    justify-content: space-between;
    align-items: center;
  }

  .nav-btn {
    margin-left: 15px;
  }

  main {
    justify-content: left;
  }
}